@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Gothic+Coding:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.home_page_bg_style {
  background-image: url("../public/Login__Signup__bg.gif");
  background-color: rgba(0, 0, 0, 0.473);
  background-blend-mode: darken;
}

.scroll_page_bg_style {
  background-color: rgba(0, 0, 0, 0.774);
}

/* width */
.GroupChatCreate::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 100px;
}

/* Track */
.GroupChatCreate::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.GroupChatCreate::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 100px;
}

/* Handle on hover */
.GroupChatCreate::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.Show__Chatting__Data::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Show__Chatting__Data::-webkit-scrollbar-track {
  background: transparent;
  
}
 
/* Handle */
.Show__Chatting__Data::-webkit-scrollbar-thumb {
  background: #64748b5b; 
  border-radius: 100px;
}

/* Handle on hover */
.Show__Chatting__Data::-webkit-scrollbar-thumb:hover {
  background: #555; 
}