@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Gothic+Coding:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.home_page_bg_style {
  background-image: url("../public/Login__Signup__bg.gif");
  background-color: rgba(0, 0, 0, 0.473);
  background-blend-mode: darken;
}

.scroll_page_bg_style {
  background-color: rgba(0, 0, 0, 0.774);
}

/* width */
.GroupChatCreate::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 100px;
}

/* Track */
.GroupChatCreate::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.GroupChatCreate::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 100px;
}

/* Handle on hover */
.GroupChatCreate::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.Show__Chatting__Data::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Show__Chatting__Data::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
.Show__Chatting__Data::-webkit-scrollbar-thumb {
  background: #64748b5b;
  border-radius: 100px;
}

/* Handle on hover */
.Show__Chatting__Data::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .loading_gradient{
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg , #fff0 , #fff , #fff0);
  animation: fo 1s linear infinite;
}

@keyframes fo{
  0%{
    left: -100%;
  }
  60%,100%{
    left: 110%;
  } */
/* } */

/* .loader-circle {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  animation: move 1.5s linear infinite;
}

@keyframes move {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 200% 0;
  }
} */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.loader-circle {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #1e293b, #334155, #1e293b);
  animation: move 1.5s linear infinite;
  position: absolute;
}

@keyframes move {
  0% {
    left: -100%;
  }

  100% {
    left: 200%;
  }
}


/* .loader-circle {
  width: 100px;
  height: 100px;
  background-color: #1877f2;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
} */